<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">Claim Approvals</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="index">Dashboard</a></li>
          <li class="breadcrumb-item active">Claim</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  <div class="row">
    <div class="col-sm-12">
      <div class="card card-table">
        <div class="card-body">
          <!-- /Page Header -->
          <div class="table-responsive">
            <table class="table border-0 star-student table-hover table-center mb-0 datatable table-striped">
              <thead class="student-thread">
                <tr>
                  <th>claim ID</th>
                  <th>Lecturer ID</th>
                  <th>Lecturer Name</th>
                  <th>Status</th>
                  <th>Payment Status</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <%claims.forEach(claim=>{%>
                  <tr>
                    <td id="claimID">
                      <%=claim.id%>
                    </td>
                    <td id="lecturerID">
                      <%=claim.nic%>
                    </td>
                    <td>
                      <%=claim.name%>
                    </td>
                    <td class="status">
                      <span class="badge bg-info">
                        <%=claim[statusField]%>
                      </span>
                    </td>
                    <td class="status">
                      <span class="badge bg-warning">
                        <%=claim.payment_status%>
                      </span>
                    </td>
                    <td class="text-center">
                      <div class="actions">
                        <a data-id="<%=claim.id%>" class="btn btn-sm bg-danger-light approve">
                          <i class="fa fa-check"></i>
                        </a>
                        <a data-id="<%=claim.id%>" class="btn btn-sm bg-danger-light reject">
                          <i class="fa fa-times"></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <%})%>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL -->


<!-- SCRIPT -->
<script>
  document.getElementById('lessonForm').addEventListener('submit', (e) => {
    e.preventDefault()
    const lessonDate = document.getElementById('lessonDate').value
    const time = document.getElementById('time').value
    const courseCode = document.getElementById('courseCode').value
    const className = document.getElementById('class').value
    const creditHours = document.getElementById('creditHours').value
    const claimID = document.getElementById('claimID').innerHTML
    const lecturerID = document.getElementById('lecturerID').innerHTML
    const lessonObj = {
      'date': lessonDate,
      'time': time,
      'course_code': courseCode,
      'credit_hours': creditHours,
      'lecturer_id': lecturerID,
      'claim_id': claimID
    }
    console.log(lessonDate, time, courseCode, creditHours, lecturerID, claimID);
    fetch('/lesson', {
      method: "POST",
      "headers": {
        "Content-Type": "application/json"
      },
      body: JSON.stringify(lessonObj)
    })
      .then(result => { result.json() })
      .then(lessonresult => {
        Swal.fire({
          title: "Lesson Added Succesfully 😀",
          confirmButtonClass: "btn btn-primary",
          buttonsStyling: !1,
        });
        // location.reload()
      }).catch(error => {
        Swal.fire({
          title: "problem Adding lesson 😪",
          confirmButtonClass: "btn btn-primary",
          buttonsStyling: !1,
        });
      })
  })
</script>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    let approve = document.querySelectorAll('.approve');
    for (let i = 0; i < approve.length; i++) {
      const element = approve[i]
      element.addEventListener('click', (e) => {
        e.preventDefault()
        fetch('/claims/' + element.dataset.id, {
          method: "PUT",
          "headers": {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({ status: "Approved" })
        }
        ).then(finalres => {
          if (finalres?.status == 200) {
            Swal.fire({
              title: "Lesson updated Succesfully 😀",
              confirmButtonClass: "btn btn-primary",
              buttonsStyling: !1,
            }).then((result) => {
              if (result.isConfirmed) {
                window.location = "/claim-approvals";
              }
            });
          } else {
            Swal.fire({
              title: "Problem updating lesson ",
              confirmButtonClass: "btn btn-primary",
              buttonsStyling: !1,
            })
          }
        }).catch(error => {
          Swal.fire({
            title: "Problem updating lesson ",
            confirmButtonClass: "btn btn-primary",
            buttonsStyling: !1,
          })
        })
      })
    }

  })
</script>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    let reject = document.querySelectorAll('.reject');
    for (let i = 0; i < reject.length; i++) {
      const element = reject[i]
      element.addEventListener('click', (e) => {
        e.preventDefault()
        fetch('/claims/' + element.dataset.id, {
          method: "PUT",
          "headers": {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({ status: "Rejected" })
        }
        ).then(finalres => {
          if (finalres?.status == 200) {
            Swal.fire({
              title: "Lesson updated Succesfully 😀",
              confirmButtonClass: "btn btn-primary",
              buttonsStyling: !1,
            }).then((result) => {
              if (result.isConfirmed) {
                window.location = "/claim-approvals";
              }
            });
          } else {
            Swal.fire({
              title: "Problem updating lesson ",
              confirmButtonClass: "btn btn-primary",
              buttonsStyling: !1,
            })
          }
        }).catch(error => {
          Swal.fire({
            title: "Problem updating lesson ",
            confirmButtonClass: "btn btn-primary",
            buttonsStyling: !1,
          })
        })
      })
    }

  })
</script>